# PyPi pyopenxr requirs PyOpenGL 3.1.6 while ChimeraX uses PyOpenGL 3.1.7.
# Also pyopenxr depends of glfw for demo programs that we don't need.
# So don't install the pyopenxr dependencies.
# The pyopenxr setup.cfg says it uses 3.1.6 instead of 3.1.7 because
# of a bug on ubuntu.
#
#    https://github.com/cmbruns/pyopenxr/blob/main/setup.cfg
#
# We do not support VR on ubuntu.
pyopenxr==1.0.3301
# PyOpenXR 1.0.2801 requires glfw
glfw
