#
# Application runtime
#
appdirs==1.4.4
colorama==0.4.4
comtypes==1.1.10
Cython==0.29.23
distlib==0.3.1
filelock==3.0.12
grako==3.16.5
html2text==2020.1.16
ihm==0.20
imagecodecs==2021.5.20
ipykernel==5.5.5
# if ipython updated, make sure autocompletion still works (e.g. "mi<tab>" becomes min) and if not then
# try a newer version of jedi
ipython==7.23.1
# the version of jedi that works with ipython
jedi==0.18.0
jupyter-client==6.1.12
# see ../lineprofiler
#line_profiler==3.0.2
lxml==4.6.3
lz4==3.1.3
matplotlib==3.4.2
msgpack==1.0.2
netCDF4==1.5.6
networkx==2.5.1
# Do not update numpy to 1.19.4, broken on Windows when using fmod, Windows fix expected late Jan 2021.
# https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
numpy==1.20.3
openvr==1.16.801
# as per Tristan's request in ticket #3055
ParmEd==3.2.0
Pillow==8.2.0
pkginfo==1.7.0
psutil==5.8.0
pycollada==0.7.1
pydicom==2.1.2
# PyOpenGL handled in app_pyopengl_requirements.txt
#PyOpenGL==3.1.5
#PyOpenGL-accelerate==3.1.5
python-dateutil==2.8.1
#PySide2==5.15.2
qtconsole==5.1.0
requests==2.25.1
scipy==1.6.3
six==1.16.0
sortedcontainers==2.4.0
suds-jurko==0.6
tables==3.6.1
tifffile==2021.4.8
tinyarray==1.2.3
webcolors==1.11.1
wheel-filename==1.3.0
#
# Documentation
#
blockdiag==2.0.1
docutils==0.17.1
Jinja2==2.11.3
numpydoc==1.1.0
Pygments==2.9.0
Sphinx==4.0.1
sphinxcontrib-blockdiag==2.0.0
#
# Windows
#
pywin32==228; sys_platform == 'win32'
WMI==1.5.1; sys_platform == 'win32'
#
# Linux
#
distro==1.5.0; sys_platform == 'linux'
