appdirs==1.4.0
beautifulsoup4==4.5.3
colorama==0.3.7
Cython==0.23.1
distlib==0.2.3
line_profiler==1.0
matplotlib==1.5.1
networkx==1.10
openvr==1.0.0201
Pillow==3.2.0
python-dateutil==2.5.3
qtconsole==4.2.1
six==1.10.0
sortedcontainers==1.4.4
suds-jurko==0.6
webcolors==1.5
