#
# Application runtime
#
# Some PIP packages are not available on macOS arm64 cpu
# We install them from the prereqs archive using wheels from Conda
# They are marked below with platform_machine != 'arm64'.
# TODO: Deprecate conda version when pip gets arm64 ports
#
appdirs==1.4.4
build==0.10.0
colorama==0.4.6
Cython==0.29.33
filelock==3.9.0
grako==3.16.5
html2text==2020.1.16
ihm==0.35
imagecodecs==2022.9.26 ; platform_machine != 'arm64'
ipykernel==6.21.1
# if ipython updated, make sure autocompletion still works (e.g. "mi<tab>" becomes min) and if not then
# try a newer version of jedi
ipython==8.9.0
# the version of jedi that works with ipython
jedi==0.18.2
jupyter-client==8.0.2
line_profiler==4.0.2
lxml==4.9.2
lz4==4.3.2
matplotlib==3.6.3
msgpack==1.0.4
netCDF4==1.6.2
networkx==2.8.8
numpy==1.23.5
openvr==1.23.701
# as per Tristan's request in ticket #3055
ParmEd==3.4.3
pep517==0.13.0
Pillow==9.3.0
pkginfo==1.9.6
psutil==5.9.4
pycollada==0.7.2
pydicom==2.3.0
tcia_utils==1.0.2
# PyOpenGL handled in app_pyopengl_requirements.txt
python-dateutil==2.8.2
# PyQt handled in prereqs/PyQt
# sip handled in prereqs/PyQt
#PySide2==5.15.2
qtconsole==5.4.0
requests==2.28.2
scipy==1.9.3
six==1.16.0
sortedcontainers==2.4.0
tables==3.7.0 ; platform_machine != 'arm64'
tifffile==2022.10.10
tinyarray==1.2.4
tomli==2.0.1
webcolors==1.12
wheel-filename==1.4.1
#
# Documentation
#
blockdiag==3.0.0
docutils==0.19
Jinja2==3.1.2
Pygments==2.14.0
Sphinx==6.1.3
sphinxcontrib-blockdiag==3.0.0
sphinx_autodoc_typehints==1.22
#
# Windows
#
pywin32==305; sys_platform == 'win32'
WMI==1.5.1; sys_platform == 'win32'
comtypes==1.1.14; sys_platform == 'win32'
#
# Linux
#
distro==1.7.0; sys_platform == 'linux'
#
# Indirect dependencies listed here to pin the version number
#
traitlets==5.9.0

