a.nounder:link {text-decoration: none}
a.nounder:visited {text-decoration: none}
a.nounder:hover {text-decoration: underline; color: red;}

img.flRight {float: right; margin: 4px}
img.clRight {float: right; clear: right; margin: 4px}
img.flLeft {float: left; margin: 4px}
img.clLeft {float: left; clear: left; margin: 4px}
img.outline {border: 1px solid black}
img.outlineCR {border: 1px solid black; margin: 4px; float:right; clear:right}
img.outlineCL {border: 1px solid black; margin: 4px; float:left; clear:left}

table.clRight {float:right; clear:right; margin: 4px}
table.clLeft {float:left; clear:left; margin: 4px}

ul.circle {list-style-type: circle}
ul.none {list-style-type: none}
span.nowrap {white-space: nowrap}

p.nav {font-size: 85%; margin-top: -10; margin-bottom: 0px; 
   text-align: right; position: relative; top: 20px }
