attrs==22.2.0
build==0.10.0
certifi==2022.12.7
charset-normalizer==3.0.1
coverage==7.1.0
Cython==0.29.33
exceptiongroup==1.1.0
grako==3.99.9
idna==3.4
ihm==0.36
iniconfig==2.0.0
msgpack==1.0.4
numpy==1.24.1
packaging==23.0
Pillow==9.4.0
pluggy==1.0.0
pydicom==2.3.1
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.6
pyproject_hooks==1.0.0
pytest==7.2.1
pytest-dependency==0.5.1
pytest-order==1.0.1
requests==2.28.2
sortedcontainers==2.4.0
tinyarray==1.2.4
tomli==2.0.1
urllib3==1.26.14
