/*
 * Content "full" is divided into "control" and "data"
 * sections that fill 100% of the height.  "data" uses
 * available space and is scrollable when needed.
 */
html, body, #full {
  margin: 0;
  padding: 0;
  height: 100%;
}
#full {
  display:flex;
  flex-direction: column;
}
#control {
  flex: none;
  max-height: 40%;
  overflow: auto;
}
#data {
  flex: none;
  min-height: 50%;
  height: 50%;
  max-height: 50%;
}
#info {
  flex: auto;
  width: 100%;
}
.table-narrow > thead > tr > th,
.table-narrow > tbody > tr > th,
.table-narrow > tfoot > tr > th,
.table-narrow > thead > tr > td,
.table-narrow > tbody > tr > td,
.table-narrow > tfoot > tr > td {
  padding: 0px;
  margin: 0px;
}
