/*
 * Content "full" is divided into "control" and "data"
 * sections that fill 100% of the height.  "data" uses
 * available space and is scrollable when needed.
 */
html, body, #full {
  margin: 0;
  padding: 0;
  height: 100%;
}
#full {
  display:flex;
  flex-direction: column;
}
#control {
  flex: none;
  max-height: 40%;
  overflow: auto;
}
#data {
  flex: none;
  min-height: 50%;
  height: 50%;
}
#column_table {
  flex: auto;
}
