name: Build ChimeraX FlatPak
on:
  workflow_call:
    inputs:
      release_type:
        type: string
        required: true
      branch:
        type: string
        required: false
    secrets:
      PREBUILT_CACHE_SECRET:
        required: true

jobs:
  flatpak-build:
    runs-on: ubuntu-22.04
    env:
      SHELL: /bin/bash
      PATH: /usr/bin:/usr/sbin:/bin:/sbin
      PYOPENGL_PLATFORM: egl
    container:
      image: fedora:latest
      options: --privileged
    steps:
      - name: Update system packages
        run: |
          dnf update -y
          dnf install -y dbus-daemon flatpak flatpak-builder git-lfs python3-aiohttp python3-tenacity python3-gobject xorg-x11-server-Xvfb ccache zstd libappstream-glib jq
          dnf clean all
          flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak remote-add --if-not-exists flathub-beta https://flathub.org/beta-repo/flathub-beta.flatpakrepo
          flatpak install -y flathub org.flatpak.Builder
          flatpak install -y flathub org.freedesktop.Platform//24.08 org.freedesktop.Sdk//24.08
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || 'develop' }}
      - name: Fetch Plato prerequisites
        uses: ./utils/ci/consolidated_cache
        with:
          platform: linux
          architecture: x86_64
          cache_key: ${{ secrets.PREBUILT_CACHE_SECRET }}
      - name: Restore bundles and includes from cache
        uses: actions/cache/restore@v4
        with:
          path: |
            linux-bundles.tar.gz
            linux-include.tar.gz
          key: linux-bundles-x64-${{ inputs.release_type }}-${{ github.sha }}
      - uses: Tiryoh/gha-jobid-action@v1
        if: ${{ inputs.release_type == 'daily' || inputs.release_type == 'candidate' }}
        id: get_job_id
        with:
          job_name: ${{ format('Build ChimeraX FlatPak ({0}, {1}) / flatpak-build', inputs.branch, inputs.release_type) }}
          per_page: 100
      - name: Note the run and job IDs on Plato
        if: ${{ inputs.release_type == 'daily' || inputs.release_type == 'candidate' }}
        uses: nick-fields/retry@v3
        with:
          max_attempts: 1000
          timeout_seconds: 60
          command: ./utils/ci/nightly_logs.sh ${{ secrets.PREBUILT_CACHE_SECRET }} ${{ github.run_id }} ${{ steps.get_job_id.outputs.job_id }} flatpak ${{ inputs.release_type }}
      - run: chown -R $(id -u):$(id -g) $PWD
      - name: Insert the build type into the Flatpak YAML file
        run: sed -i -e 's/\(FLATPAK_APPNAME=[^ ]* \)/\1BUILD_TYPE="${{ inputs.release_type}}" /' arm-flatpak.yml
      - name: Unpack the bundles to build/sync
        run: |
          mkdir wheels
          tar -xvf linux-bundles.tar.gz -C wheels
      - name: Unpack the include tarball to include
        run: |
          tar -xvf linux-include.tar.gz
      - name: Build the rest of ChimeraX
        uses: flatpak/flatpak-github-actions/flatpak-builder@master
        with:
          bundle: chimerax.flatpak
          manifest-path: github-flatpak.yaml
          cache-key: flatpak-builder-x86
          upload-artifact: false
      # For now, we're skipping tests for the Flatpak
      - name: Put the build date and commit in the environment
        run: |
          export COMMIT_HASH=$(git rev-parse --short HEAD)
          export COMMIT_DATE=$(git log -1 --pretty='format:%cD' HEAD)
          echo "COMMIT_DATE=$COMMIT_DATE" >> $GITHUB_ENV
          echo "COMMIT_HASH=$COMMIT_HASH" >> $GITHUB_ENV
      - name: Upload ChimeraX (Daily or Tech Preview)
        if: ${{ inputs.release_type == 'daily' || inputs.release_type == 'techpreview' }}
        uses: nick-fields/retry@v3
        with:
          max_attempts: 1000
          timeout_minutes: 60
          command: curl -v -F "key=${{ secrets.PREBUILT_CACHE_SECRET }}" -F "commit=$COMMIT_HASH" -F "date=$COMMIT_DATE" -F "platform=flatpak" -F "build_type=${{ inputs.release_type }}" -F "file=@$GITHUB_WORKSPACE/chimerax.flatpak" https://preview.rbvi.ucsf.edu/chimerax/cgi-bin/upload_build.py
      - name: Put release version in the environment
        if: ${{ inputs.release_type == 'candidate' || inputs.release_type == 'production' }}
        run: |
          export BUILD_VERSION=$(cat src/bundles/core/Makefile | grep VERSION | head -n 1 | cut -d'=' -f2 | sed -e 's/ //g')
          echo "BUILD_VERSION=$BUILD_VERSION" >> $GITHUB_ENV
      - name: Upload ChimeraX (Candidate or Production)
        if: ${{ inputs.release_type == 'candidate' || inputs.release_type == 'production' }}
        uses: nick-fields/retry@v3
        with:
          max_attempts: 1000
          timeout_minutes: 60
          command: curl -v -F "key=${{ secrets.PREBUILT_CACHE_SECRET }}" -F "version=$BUILD_VERSION" -F "commit=$COMMIT_HASH" -F "date=$COMMIT_DATE" -F "platform=flatpak" -F "build_type=${{ inputs.release_type }}" -F "file=@$GITHUB_WORKSPACE/chimerax.flatpak" https://preview.rbvi.ucsf.edu/chimerax/cgi-bin/upload_build.py
