name: Build ChimeraX for Rocky 9
on:
  workflow_call:
    inputs:
      release_type:
        type: string
        required: true
      branch:
        type: string
        required: false
    secrets:
      PREBUILT_CACHE_SECRET:
        required: true

jobs:
  build-rocky9-docker:
    runs-on: ubuntu-20.04
    container:
      image: rockylinux:9
    env:
      SHELL: /bin/bash
      PATH: /usr/bin:/usr/sbin:/bin:/sbin
      PYOPENGL_PLATFORM: egl
    steps:
      - run: export GIT_DISCOVERY_ACROSS_FILESYSTEM=1
      - run: dnf update -y
      - run: dnf install -y git-all
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || 'develop' }}
      # buildinfo.py breaks without this
      - run: chown -R $(id -u):$(id -g) $PWD
      - run: ${PWD}/utils/set_up_centos.sh
      - name: Fetch Plato prerequisites
        uses: ./utils/ci/consolidated_cache
        with:
          platform: linux
          architecture: x86_64
          cache_key: ${{ secrets.PREBUILT_CACHE_SECRET }}
      - uses: Tiryoh/gha-jobid-action@v1
        id: get_job_id
        with:
          job_name: "build-rocky9-docker"
      - name: Note the run and job IDs on Plato
        uses: ./utils/ci/nightly_logs
        with:
          platform: centos-9
          deploy_key: ${{ secrets.PREBUILT_CACHE_SECRET }}
          run_id: ${{ github.run_id }}
          job_id: ${{ steps.get_job_id.outputs.job_id }}
          build_type: daily
      - name: Restore bundles and includes from cache
        uses: actions/cache/restore@v4
        with:
          path: |
            linux-bundles.tar.gz
            linux-include.tar.gz
          key: linux-bundles-${{ inputs.release_type }}-${{ github.sha }}
      - name: Unpack the bundles to build/sync
        run: |
          mkdir wheels
          tar -xvf linux-bundles.tar.gz -C wheels
      - name: Unpack the include tarball to include
        run: |
          tar -xvf linux-include.tar.gz
      - name: Build the rest of ChimeraX
        run: |
          MAKEOPTS="-j$(nproc)" NO_PREBUILT=1 PYQT_LICENSE=commercial make -j$(nproc) -C prereqs install
          MAKEOPTS="-j$(nproc)" NO_PREBUILT=1 PYQT_LICENSE=commercial make -j$(nproc) -C prereqs app-install
          make -C src/apps/ChimeraX install BUILD_TYPE=daily
          ChimeraX.app/bin/python3.11 -m pip install wheels/*.whl
          cp -rp include ChimeraX.app
          make -C src/apps install BUILD_TYPE=daily
          make -C docs install BUILD_TYPE=daily
      - name: Run the legacy test suite
        run: make test
      - name: Install Pytest
        run: ./ChimeraX.app/bin/python3.11 -I -m pip install pytest pytest-cov
      - name: Set up the repo for coverage reporting
        run: make prepare-coverage
      - name: Check whether ChimeraX.exe and python -m chimerax.core are equivalent
        run: USE_COVERAGE=1 make pytest-both-exes
      - name: Run wheel tests
        run: USE_COVERAGE=1 make pytest-wheel
      - name: Run distribution tests
        run: USE_COVERAGE=1 make pytest-app
      - name: Report coverage
        run: make report-coverage
      - name: Make the package
        run: make -f Makefile.centos ${{ inputs.release_type }}-package
      - run: mv rpmbuild/RPMS/x86_64/ucsf-chimerax*.rpm ./chimerax.rpm
      - name: Upload ChimeraX
        uses: ./utils/ci/upload_artifact
        with:
          artifact_path: chimerax.rpm
          full_build: true
          release_type: ${{ inputs.release_type }}
          platform: centos-9
          deploy_key: ${{ secrets.PREBUILT_CACHE_SECRET }}
